<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de Comanda</title>
</head>
<body>
	<form action="/admin/billing/calcular-gastos" , method="post">
		<fieldset>
				<h1>Forma de pagamento: </h1>
				<select name="billing_form_id" id="select-field" required class="form-select mt-3">
					<option disabled value="" selected>Selecione o método de pagamento</option>
					{% for billing_form in billing_forms%}
					<option value="{{billing_form.id}}">{{billing_form.name}}</option>
					{% endfor %}
				</select>
				<h2>ID do Cliente: </h2>
				<select name="tickets_form_id" id="select-field" required class="form-select mt-3">
					<option disabled value="" selected>Selecionar o ID do cliente </option>
					{% for tickets_forms in tickets_forms%}
					<option value="{{tickets_forms.client_id}}">{{tickets_forms.client_id}}</option>
					{% endfor %}
				</select>
				<button type="submit">Cadastrar a comanda </button>
		</fieldset>
	</form>
<body>
</html>
