<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='create_css/style.css') }}">
	<title>Cadastro de cobrança </title>
</head>
<body>
	<form action="/admin/billing/cadastro-pagamento" method="post">
		<h1>Forma de cobrança nova</h1>
		<fieldset>
			<legend>Nome: </legend>
			<input type="text" id="name" name="name"><br>
			<legend>Descrição:  </legend>
			<input type="text" id="description" name="description"><br>
			<button type="submit">Cadastrar</button>
		</fieldset>
	</form>
</body>
</html>