<!DOCTYPE html>
<html>
<head>
	<title>Modelos de cobrança</title>
</head>
<body>
	<h1>Escolha o método de pagamento:</h1>
	<form action="#" method="post">
		<input type="radio" id="pix" name="pagamento" value="pix">
		<label for="pix">PIX</label><br>
		<input type="radio" id="cheque" name="pagamento" value="cheque">
		<label for="cheque">Cheque</label><br>
		<input type="radio" id="credito" name="pagamento" value="credito">
		<label for="credito">Cartão de crédito</label><br>
        <input type="radio" id="debito" name="pagamento" value="debito">
		<label for="debito">Cartão de débito</label><br>
		<input type="radio" id="dinheiro" name="pagamento" value="dinheiro">
		<label for="dinheiro">Dinheiro</label><br><br>
	</form>
</body>
</html>